html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--text-color);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.is-outer {
  position: relative !important;
  left: -9999px !important;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important;
}
._bgcolor {
  background-color: var(--eastbay-color);
  color: var(--white-color);
}
._ibg {
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.modal {
  --transition-time: 0.3s;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-time), visibility var(--transition-time);
  :before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  &__container {
    position: relative;
    width: 1000px;
    margin: 50px auto;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    cursor: default;
    text-align: left;
    display: none;
    &.modal-open {
      display: inline-block;
    }
  }
  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.001 512.001' style='enable-background:new 0 0 512.001 512.001;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717 L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859 c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287 l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285 L284.286,256.002z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    cursor: pointer;
  }
  &.is-open {
    opacity: 1;
    visibility: visible;
    transition: opacity var(--transition-time),
      visibility var(--transition-time);
  }
}

@media (max-width: 1024px) {
  .modal__container {
    width: 90%;
  }
}
.fade {
  opacity: 0;
  transition: opacity var(--transition-time);
  &.animate-open {
    opacity: 1;
    transition: opacity var(--transition-time);
    &InUp {
      opacity: 0;
      transform: translateY(-100px);
      transition: transform var(--transition-time),
        opacity var(--transition-time);
      &.animate-open {
        opacity: 1;
        transform: translateY(0);
        transition: transform var(--transition-time),
          opacity var(--transition-time);
      }
    }
  }
}
.btn {
  min-height: 60px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  padding: 22px 47px;
  border: none;
  background: transparent;
  transition: all 0.2s ease-in-out;
  font-family: "Intro-Book", sans-serif;
  &-reset {
    padding: 0;
    min-height: auto;
  }
  &--primary {
    background-color: var(--accent-color);
    color: var(--white-color);
    &:hover {
      background-color: var(--accent-hover-color);
    }
    &__bordered {
      background-color: transparent;
      color: var(--accent-color);
      border: 2px solid var(--accent-color);
      &:hover {
        border-color: var(--accent-hover-color);
      }
    }
  }
  &--secondary {
    background-color: var(--text-color);
    color: var(--white-color);
    &:hover {
      background-color: var(--text-hover-color);
    }
  }
}

.container {
  margin: 0 auto;
  padding: 0 var(--padding);
  width: 100%;
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}

.title {
  font: var(--middle-high-font);
  margin: 0 0 var(--main-offset) 0;
}
section {
  padding: 60px 0;
}
