@import "vendor";
@import "mixins";
@import "icons";
@import "fonts";
@import "vars";
@import "fonts";
@import "settings";

// большие компоненты
@import "./components/header";
@import "./components/hero";
@import "./components/catalog";
@import "./components/about";
@import "./components/quiz";
@import "./components/team";
@import "./components/faq";
@import "./components/contacts";
@import "./components/insta";
@import "./components/footer";

// маленькие
@import "./components/nav";
@import "./components/cart";
@import "./components/logo";
@import "./components/product";

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.nav {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.tooltip {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: initial;
  z-index: 1;
  &__btn {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    box-shadow: 2px 4px 10px rgba(0, 13, 84, 0.2);
    border-radius: 100%;
    border: none;
    font-weight: bold;
    &:hover + .tooltip__text,
    &:focus + .tooltip__text {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  &__text {
    position: absolute;
    bottom: calc(100% + 14px);
    left: -14px;
    background: #ffffff;
    box-shadow: 2px 4px 10px rgba(0, 13, 84, 0.4);
    padding: 10px 20px;
    min-width: 420px;
    font-family: "Intro-Book";
    font-size: 14px;
    font-weight: normal;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
      visibility 0.3s ease-in-out;
    z-index: 5;
    &:after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 12px;
      width: 24px;
      height: 24px;
      background: inherit;
      border-radius: 20px 3px;
      transform: rotate(-45deg);
      z-index: -1;
    }
  }
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
  box-shadow: 0 0 10px 000;
  margin: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  &::before {
    position: absolute;
    width: 100px;
    height: 400px;
    content: "";
    background-image: linear-gradient(#00ccff, #d400d4);
    animation: spin 4s linear infinite;
  }
  &:after {
    position: absolute;
    content: "";
    inset: 5px;
    background-color: #fff;
    border-radius: 10px;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
