<section class="about _bgcolor">
  <img src="img/about-figure.svg" class="about__figure" aria-hidden="true">
  <div class="container about__container grid">
    <div class="about__text">
      <h2 class="title about__title">Пара слов о нас</h2>
        <q class="about__quote">
          Спорт держит нас в форме. Учит дисциплине. Объединяет нас. Через спорт
          мы можем менять жизни. В том числе с помощью воодушевляющих историй
          спортсменов. Чтобы помочь тебе подняться и двигаться вперед.
        </q>
        <cite class="about__author"> SneakMax </cite>
    </div>
    <div class="about__img _ibg">
      <img src="img/about-img.jpg" alt="about"  aria-hidden="true"/>
    </div>
  </div>
</section>
