<section class="contacts">
  <div class="container contacts__container grid">
    <div class="contacts__info">
      <h2 class="title">Контакты</h2>
      <address class="contacts__item">
        <h3 class="contacts__subtitle"><span>Главный офис</span>
          <span class="tooltip">
            <button class="tooltip__btn">?</button>
            <span class="tooltip__text">Адрес и телефон для корреспонденции, инвесторов. Вопросы о доставке, качестве обслуживания и товара просьба задавать в отдел продаж</span>
          </span>
        </h3>
        <a href="tel:+78007898989" class="contacts__phone">+7 800 789 89 89</a>
        <div class="contacts__address">г. Санкт-Петербург, Комсомольская, 43 к1</div>
      </address>
      <address class="contacts__item">
        <h3 class="contacts__subtitle">Отдел продаж</h3>
        <a href="tel:+78007898989" class="contacts__phone">+7 800 789 89 89</a>
        <div class="contacts__address">г. Санкт-Петербург, Комсомольская, 43 к1</div>
      </address>
      <ul class="social">
        <li class="social__item"><a href="" class="social__link"><i class="icon icon-vk"></i></a></li>
        <li class="social__item"><a href="" class="social__link"><i class="icon icon-insta"></i></a></li>
      </ul>
    </div>
    <div class="contacts__map" id="map"></div>
  </div>
</section>