<section class="faq">
  <div class="container faq__container">
    <h3 class="title faq__title">Часто задаваемые вопросы</h3>
    <div class="faq__list">
      <div class="faq__item">
        <div class="faq__item--title">Вопрос 1</div>
        <div class="faq__item--content">А это ответ 1: в комплексе функционируют 6 детских садов с площадками, воспитателями и всякими другими людьми</div>
      </div>
      <div class="faq__item">
        <div class="faq__item--title">Вопрос 2</div>
        <div class="faq__item--content">А это ответ 2: в комплексе функционируют 6 детских садов с площадками, воспитателями и всякими другими людьми</div>
      </div>
    </div>
  </div>
</section>