<section class="faq">
  <div class="container faq__container">
    <h2 class="title faq__title">Часто задаваемые вопросы</h2>
    <div class="faq__list">
      <div class="faq__item">
        <div class="faq__item--title"><span>Вопрос 1</span><span class="faq__toggle"></span></div>
        <div class="faq__item--content">А это ответ 1: в комплексе функционируют 6 детских садов с площадками, воспитателями и всякими другими людьми</div>
      </div>
      <div class="faq__item">
        <div class="faq__item--title"><span>Вопрос 2</span><span class="faq__toggle"></span></div>
        <div class="faq__item--content">А это ответ 2: в комплексе функционируют 6 детских садов с площадками, воспитателями и всякими другими людьми.</div>
      </div>
      <div class="faq__item">
        <div class="faq__item--title"><span>Вопрос 3</span><span class="faq__toggle"></span></div>
        <div class="faq__item--content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolorem dolores saepe blanditiis a nam, laboriosam voluptatum et. Nemo molestiae fugiat porro labore, animi illo nesciunt obcaecati in iste assumenda!</p>
          <p>Nam, quas aspernatur nemo pariatur nostrum omnis amet, ex libero maiores velit quae deserunt at laborum error? Vero asperiores ut, ad alias dolor nam iste aliquid, repellendus eveniet reprehenderit deleniti?</p>
          <p>Vel ab sit quae dignissimos officia natus sint odit perferendis, officiis nulla ex ratione repudiandae excepturi fuga omnis nobis magnam voluptate quas ducimus, alias rerum ut velit. Facilis, blanditiis fugiat.</p>
        </div>
      </div>
    </div>
  </div>
</section>