<section class="insta">
  <div class="container insta__container grid">
    <div class="insta__contacts">
      <form action="" class="inata__form form _bgcolor">
        <h3 class="title insta__title">Есть вопросы?</h3>
        <p class="insta__subtitle">Заполните форму и наш менеджер свяжется с вами</p>
        <input type="text" placeholder="Ваше имя" name="name" class="form__input">
        <input type="email"   placeholder="Номер телефона" name="phone" class="form__input">
        <button type="submit" class="btn btn--primary">Отправить</button>
      </form>
    </div>
    <div class="insta__photo">
      <a href="" class="insta__link"><img src="./img/instagram_logo.svg" alt=""></a>
      <div class="insta__content">
        <a href="" class="insta__item _ibg">
          <img src="https://images.unsplash.com/photo-1593642634402-b0eb5e2eebc9?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1469&q=80" alt="">
        </a>
        <a href="" class="insta__item _ibg">
        <img src="https://images.unsplash.com/photo-1634144646738-809a0f8897c4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=764&q=80" alt="">
        </a>
        <a href="" class="insta__item _ibg">
        <img src="https://images.unsplash.com/photo-1633113090205-cc1ac795b5f9?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80" alt="">
        </a>

        <a href="" class="insta__item _ibg">
        <img src="https://images.unsplash.com/photo-1634125486933-df0e64f5bbca?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="">
        </a>

        <a href="" class="insta__item _ibg">
        <img src="https://images.unsplash.com/photo-1634163250704-1f7aa020f281?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="">
        </a>

      </div>
    </div>
  </div>
</section>