<section class="team _bgcolor">
  <img src="/img/team-figure.svg" class="team__figure" aria-hidden="false">
  <div class="container team__container">
    <h3 class="title team__title">Наша команда</h3>
    <div class="grid team__list">
      <div class="team__item">
        <img src="/img/team-1.jpg" alt="" class="team__item--img">
        <div class="team__item--name">Sam Smith</div>
        <div class="team__item--position">ADmin</div>
      </div>
      <div class="team__item">
        <img src="/img/team-2.jpg" alt="" class="team__item--img">
        <div class="team__item--name">Sam Smith</div>
        <div class="team__item--position">ADmin</div>
      </div>
      <div class="team__item">
        <img src="/img/team-3.jpg" alt="" class="team__item--img">
        <div class="team__item--name">Sam Smith</div>
        <div class="team__item--position">ADmin</div>
      </div>
      <div class="team__item">
        <img src="/img/team-4.jpg" alt="" class="team__item--img">
        <div class="team__item--name">Sam Smith</div>
        <div class="team__item--position">ADmin</div>
      </div>
      <div class="team__item">
        <img src="/img/team-5.jpg" alt="" class="team__item--img">
        <div class="team__item--name">Sam Smith</div>
        <div class="team__item--position">ADmin</div>
      </div>
      <div class="team__item">
        <img src="/img/team-6.jpg" alt="" class="team__item--img">
        <div class="team__item--name">Sam Smith</div>
        <div class="team__item--position">ADmin</div>
      </div>
    </div>
  </div>
</section>