.contacts {
  background-color: #F3F6F6;
  &__container {
    grid-template-columns: 5fr 7fr;
  }

  &__item {
    font-style: normal;
    margin-bottom: var(--main-offset);
  }
  &__subtitle { 
    font-family: "Intro-Book";
    font-size: 14px;
    text-transform: uppercase;
    color: #B2B5BB;
    margin-bottom: var(--main-offset);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  &__phone {
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);
    margin-bottom: 10px;
    display: flex;
    &:visited,&:active{
      color: var(--text-color);
    }
  }
  &__address {
    font-family: "Intro-Book";
    font-size: 18px;
  }
  &__map {}
}

.social {
  display: flex;
  flex-direction: row;
  gap: 20px;
  &__item {}
  &__link {
    display: flex;
    color: var(--eastbay-color);
    font-size: 35px;
  }
}