.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  &__wrap{
    padding: var(--padding) 0;
    border-bottom: 1px solid var(--border-color);
  }
  &__container {
    align-items: center;
  }

  &__left {
    grid-column: 2 span;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    grid-column: 10 span;
    align-items: center;
  }
}
